# Xmake cache
.xmake/
build/
.vscode/
cmake-build-*/
.cache/
.vs/
.idea/
vs2022/
debug/
out/


# MacOS Cache
.DS_Store


/.idea/.gitignore
/.idea/codeStyles/codeStyleConfig.xml
/.idea/Delegate.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/vsxmake2022/
/results.json
/compile_commands.json
